<html>

<head>
    <title>Tic-Tac-Toe</title>
    <style>
        button::first-letter {
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
</head> 

<body>
    <div id = "sc"><h1>Score:</h1></h1></div>
    <table style="left: calc(50vw - 84px); position: absolute;">
        <tbody id="nigger">
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div style="position: absolute;"><button id=reset>Reset</button></div>
    <div id="win_mes"></div>
    <script src="/static/js/index.js"></script>
</html>